body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    overflow-x: hidden;
}
.all-cards{
    display: flex;
    flex-wrap: wrap;
   
}
.cards{
  margin-top: 20px;
    padding-left: 20px;
}

.cards img{

    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    font-weight: bold;
}
.cards p{
    line-height: 5px;
    color: gray;
    font-size: small;
}
.cards b{
    color: black;
}